# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
*.coverprofile

# Directories
bin/
build/
vendor/

# GoLand project files
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*~

# Dependency directories
